{% extends "master.twig" %}

{% block title %}Choose Questionnaire{% endblock %}

{% block content %}
  {% if questionnaires | length > 0 %}
    <ul>
    {% for questionnaire in questionnaires %}
      <li><a href="{{ redirect }}/{{ questionnaire.id }}">{{ questionnaire.title }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    There are currently no questionnaires available.
  {% endif %}
{% endblock %}
