{% extends "master.twig" %}

{% block title %}Questionnaire Progress{% endblock %}

{% block head %}
  <meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
<table>
<tr>
	<th>Person</th>
    {% for page in pages %}
	<th width='80px'>{{ page }}</th>
	{% endfor %}
</tr>
{% for row in status %}
<tr>
	<td>{{ row.name }}</td>
    {% for page in row.stages %}
        {{ page | raw }}
    {% endfor %}
</tr>
{% endfor %}
<tr>
	<th>Totals:</th>
	{% for total in totals %}
		<th>{{ total }}</th>
	{% endfor %}
</tr>
</table>
{% endblock %}
