{% extends "master.twig" %}

{% block content %}
<ul>
{% for questionnaire in questionnaires %}
  <li><a href="{{ redirect }}/{{ questionnaire.Id }}">{{ questionnaire.Name }}</a></li>
{% endfor %}
</ul>
{% endblock %}