* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: #000000;
  font: normal 12px "Tahoma", Verdana, Arial, Sans-Serif;
  min-width: 995px;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted;
  font-weight: bold;
  cursor: pointer;
}

a:hover, a:active {
  border-bottom: 1px solid;
}

/* Html Elements */
h1, h2, h3, h4 {
  margin: 10px 0 10px 0;
  padding: 0 0 5px 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid;
}

h2, input.h2 {
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

input.h2, input.h3 {
  width: 400px;
}

h3, input.h3 {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

h4 {
  padding: 0;
  font-weight:bold;
  font-size: 12px;
  color: #000;
}

ul, ol {
  color: #444444;
  padding: 10px 10px 10px 30px;
  line-height: 1.8em;
}

ul {
  list-style-type: square;
}

#content {
  margin: 0 10px;
}

fieldset {
  padding: 10px 15px 10px 15px;
}

fieldset legend {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
}

textarea {
  display: block;
  font: normal 12px "Tahoma", Verdana, Arial, Sans-Serif;
}

/* Message List */
#messages {
  margin: 0;
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: #b5b3ff;
}

.alert {
  padding: 5px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 4px;
  margin: 10px;
  font-size: medium;
}

.alert.alert-alert {
  background-color: #b7ffff;
  border-color: #0000F0;
}

.alert.alert-success {
  background-color: #b7ffb7;
  border-color: #008000;
}

.alert.alert-error {
  background-color: #ffb7b7;
  border-color: #D00000;
}

.alert.alert-warning {
  background-color: #ffdbb7;
  border-color: #D09900;
}

.alert ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: black;
}

.alert li {
  padding-top: 3px;
  margin-top: 3px;
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
}

.alert ul li:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

/* Header */
#header {
  height: 97px;
  border-bottom: 1px solid #000000;
  padding-left: 5px;
}

#header .logo {
  float: left;
}

#header h1 {
  float: left;
  font-family: "Tahoma", Verdana, Arial, sans-serif;
  font-size: 300%;
  color: #333;
  margin: 0;
  padding: 25px 20px 10px 20px;
  line-height: 75%;
}

.title {
  display: block;
  float: left;
  font-size: 300%;
  color: #333;
  margin: 0;
  padding: 25px 10px 10px 20px;
  line-height: 75%;
}

#header .version {
  font-size: 45%;
  margin-top: 8px;
}

/* Navigation */
#menu {
  float: left;
  width: 100%;
  clear: both;
  color: #555;
  border-bottom: 1px solid #000;
}

#menu ul {
  padding: 0 5px;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

#menu li {
  float: left;
}

#menu li a, #menu li strong {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  border: none;
}

#menu li.right {
  float: right;
}

/* Tables */
table {
  border-collapse: collapse;
  color: #333;
  margin: 10px 10px 20px;
  border-left: 1px solid #b4cbcb;
  border-top: 1px solid #b4cbcb;
  font-size: 90%;
}

th, td {
  border-right: 1px solid #b4cbcb;
  border-bottom: 1px solid #b4cbcb;
  padding: 2px 10px;
}

table.progress {
  font-family: "Tahoma", Verdana, Arial, sans-serif;
  font-size: 14px;
  border: 2px solid;
  border-collapse: collapse;
  background-color: white;
}

table.progress th {
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  height: 18px;
  border: 2px solid;
}

table.progress {
  text-align: center;
}

table.progress td {
  padding: 5px 25px;
}

table.formTable {
  font-family: "Tahoma", Verdana, Arial, sans-serif;
  font-size: 14px;
  border: 2px solid;
  border-collapse: collapse;
}

.formTable th {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
  border: 2px solid;
  text-align: right;
  background-color: inherit;
  border-right-style: none;
}

.formTable input, .formTable select {
  border: 1px solid;
  padding: 3px;
}

.formTable td {
  padding: 5px 15px 5px 5px;
  border: 2px solid;
  text-align: left;
  border-left-style: none;
}

.formTable .submitRow {
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  border: 2px solid;
}

.formTable .header {
  font-weight: bold;
}

.formTable .header td {
  text-align: center;
  padding: 5px 25px 5px 25px;
}

/* Role colours */
.userRole {
  color: grey;
}

.userRole.leader {
  color: blue;
}

.userRole.camper {
  color: green;
}

.userRole.director {
  color: red;
}

/* Questionnaire */
.question ul {
  list-style-type: none;
  padding-left: 15px;
}

.question {
  margin-bottom: 20px;
}

.question label {
  display: inline-block;
  margin-right: 5px;
}

.question-group label {
  display: table-cell;
}

.question-dropdown {
  display: table-row;
}

.question textarea {
  width: 550px;
}

.question input[type=text] {
  width: 550px;
}

.question input.other {
  margin-left: 25px;
  width: 510px;
}

.question-group textarea {
  width: 535px;
}

.question-group label {
  padding-bottom: 8px;
  padding-right: 15px;
}

.question-group .question {
  margin-bottom: 5px;
}

.question-group .spacing {
  padding-top: 10px;
}

.question-group {
  width: 550px;
  margin-bottom: 20px;
}

.optquest legend {
  border: 1px solid black;
  background-color: white;
  padding: 3px 10px;;
  cursor: pointer;
}

.optquest legend:hover {
  box-shadow: 0 0 6px black;
}

.optquest {
  background-color: #dfeaea;
}

.optquest .hide-container{
  display: none;
}

.optquest .help {
  font-size: small;
  font-weight: normal;
  border-bottom: 1px dotted black;
}

/* Questionnaire Feedback */
.question-group.feedback {
  width: auto;
}

.feedback table, table.feedback {
  border-collapse: separate;
  border-spacing: 1px;
}


/* Questionnaire Editor */
#intro-text-editor {
  width: 100%;
  padding: 5px;
  height: 140px;
}

.editor-workspace {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px;
}

.editor-section {
  background-color: white;
  border: 1px solid rgb(60, 60, 60);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  position: relative;
}

.editor-section h3 {
  margin-top: 0;
}

input.invisible {
  border: 1px solid transparent;
  padding: 3px;
  display: block;
  background-color: transparent;
}

input.invisible:hover {
  border: 1px solid rgb(192, 192, 192);
  background-color: white;
}

input.invisible:focus {
  background-color: white;
}

.editor-section-controls {
  position: absolute;
  right: 15px;
  top: 20px;
  text-align: right;
}

#ajax-status th {
  background-color: #62F4B0;
}
