/* Text Elements */
a, a:link, a:visited {
  color: #000099;
  border-bottom-color: #000099;
}

a:hover, a:active {
  color: #775533;
  border-bottom-color: #775533;
}

h1 {
  color: #000CC0;
  border-color: #000CC0;
}

/* Common background colours */
#header, .workspace {
  background-color: #87B8DE;
}

/* Menu */
#menu {
  background-color: #66CCFF;
}

#menu li a, #menu li a:link, #menu li a:visited, #menu li .text {
  color: #000080;
}

#menu li a:hover, #menu li a:active {
  color: #ffffff;
  background-color: #000080;
}

/* Questionnaire */
input.invisible:focus {
  border: 1px solid rgb(77, 144, 254);
}

.editor.workspace .section.first {
  background-color: #dfeaea;
}


/* Tables */
th {
  /*background-color: #60A4F4;*/
}

.formTable input, .formTable select {
  border-color: #2A2AA5;
}

.formTable .submitRow {
  background-color: #60a4f4;
  border-color: #2A2AA5;
}

.formTable .header {
  background-color: #60a4f4;
}

table, th, td {
  /*border-color: #2A2AA5;*/
}

.inverse {
  background-color: #2A2AA5;
  color: white;
}
